@model IEnumerable<PFM.Models.Categories>
@{
    ViewData["Title"] = "Index";
}



<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">


<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="TabsSet1">


    <ul>
        @foreach (var i in Model)
        {
            <li><a href="#@i.CategoryName">@i.CategoryName</a></li>
        }

        <li><a asp-action="Create">+</a></li>
    </ul>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Edit2">
                @foreach (var i in Model)
                {
                    <div id=@i.CategoryName>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => i.Subcategories)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in i.Subcategories)
                                {
                                    <tr>
                                        <td>
                                                <input type="hidden" asp-for="@item.SubcategoryId" />
                                                <input type="hidden" asp-for="@item.CategoryId" />
                                                <input asp-for="@item.SubcategoryName" class="form-control" />
                                                <span asp-validation-for="@item.SubcategoryName" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@item.SubcategoryId" />
                                            <input asp-for="@item.Value" class="form-control" />
                                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                                        </td>
                                        <td>

                                            <a asp-area="" asp-controller="Subcategories" asp-action="Edit" asp-route-id="@item.SubcategoryId">Edit</a>
                                            <a asp-area="" asp-controller="Subcategories" asp-action="Delete" asp-route-id="@item.SubcategoryId" >Delete</a>
                                        </td>

                                    </tr>
                                }
                        </tbody>
                        </table>
                    </div>

                }

                <a asp-area="" asp-controller="Subcategories" asp-action="Create">Add subcategory</a>
            </form>

        </div>

            <script>
                $(function () {
                    $("#TabsSet1").tabs();
                });
            </script>
