@model IEnumerable<PFM.Models.Subcategories>
@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<div>
    <a  class="btn btn-primary btn-sm" asp-controller="Categories" asp-route-userID="@ViewBag.userID" asp-action="Home">Back to Home</a>
</div>

<div id="TabsSet1">
    <ul>
        @foreach (var i in ViewBag.Categories)
        {
            if (i.UserId == ViewBag.userID)
            {
                <li><a href="#@i.CategoryName">@i.CategoryName</a></li>
            }
        }
    </ul>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit">
        @foreach (var i in ViewBag.Categories)
        {
            if (i.UserId == ViewBag.userID)
            {
                <div id=@i.CategoryName>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Subcategory
                                </th>

                                <th>
                                    Transaction Amount
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in i.Subcategories)
                            {
                                @foreach (var j in item.Transactions)
                                {
                                    <tr>
                                        <td>
                                            @item.SubcategoryName
                                        </td>
                                        <td>
                                            $@j.Value
                                        </td>
                                        <td>
                                            <a asp-area="" asp-controller="Transactions" asp-action="Edit" asp-route-id="@j.TransactionsId">Edit</a>
                                            <a asp-area="" asp-controller="Transactions" asp-action="Details" asp-route-id="@j.TransactionsId">Details</a>
                                            <a asp-area="" asp-controller="Transactions" asp-action="Delete" asp-route-id="@j.TransactionsId">Delete</a>
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            }
        }

    </form>

	<p>
    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Transactions" asp-action="Create" asp-route-userID="@ViewBag.userID"> Create New Transaction</a>
    </p>
</div>


<script>
    $(function () {
        $("#TabsSet1").tabs();
    });
</script>

