@model PFM.Models.Subcategories

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.SubcategoryName)'s Transactions</h2>

<div>

    <h5>Value: @Html.DisplayFor(model => model.Value)</h5>
    <hr />
    
    <dl class="dl-horizontal">
        @foreach (var i in Model.Transactions)
        {
            <dt>Deduction:</dt>
            <dd>
                @Html.DisplayFor(model => i.Value)
            </dd>

        }
        <dt>Total deductions:</dt>
        <dd>@ViewData["ds"]</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubcategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
